# Example: Credit Card Default

We have seem this example in class. Our task will be to perform logistic regression and interpret the results.

---
* Model the default (binary variable) using various predictors
    * Model 1: default ~ balance
    * Model 2: default ~ student
    * Model 3: default ~ balance + income + student
    
* Discuss the results
    * What can you say about the coefficient for student in Models 1 and 2? Could you explain it?
    * Using Model 1, what is our estimated probability of default for someone with a balance of USD1000? How about USD2000?

In [2]:
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

In [8]:
df = pd.read_csv("default_data.csv", index_col=0)
df.head(10)

   default student      balance        income
1       No      No   729.526495  44361.625074
2       No     Yes   817.180407  12106.134700
3       No      No  1073.549164  31767.138947
4       No      No   529.250605  35704.493935
5       No      No   785.655883  38463.495879
6       No     Yes   919.588530   7491.558572
7       No      No   825.513331  24905.226578
8       No     Yes   808.667504  17600.451344
9       No      No  1161.057854  37468.529288
10      No      No     0.000000  29275.268293

In [9]:
# add manually intercept
df['intercept'] = 1.0

# change categorical variables to numerical
df['default_num'] = np.where(df.default=='Yes', 1,0)
df['student_num'] = np.where(df.student=='Yes', 1,0)

display(df)

,default,student,balance,income,intercept,default_num,student_num
1,No,No,729.526495,44361.625074,1.0,0,0
2,No,Yes,817.180407,12106.134700,1.0,0,1
3,No,No,1073.549164,31767.138947,1.0,0,0
4,No,No,529.250605,35704.493935,1.0,0,0
5,No,No,785.655883,38463.495879,1.0,0,0
6,No,Yes,919.588530,7491.558572,1.0,0,1
7,No,No,825.513331,24905.226578,1.0,0,0
8,No,Yes,808.667504,17600.451344,1.0,0,1
9,No,No,1161.057854,37468.529288,1.0,0,0
10,No,No,0.000000,29275.268293,1.0,0,0
11,No,Yes,0.000000,21871.073089,1.0,0,1
12,No,Yes,1220.583753,13268.562221,1.0,0,1
13,No,No,237.045114,28251.695345,1.0,0,0
14,No,No,606.742343,44994.555849,1.0,0,0
15,No,No,1112.968401,23810.174050,1.0,0,0
16,No,No,286.232560,45042.413036,1.0,0,0
17,No,No,0.000000,50265.312354,1.0,0,0
18,No,Yes,527.540184,17636.539617,1.0,0,1
19,No,No,485.936864,61566.106118,1.0,0,0
20,No,No,1095.072735,26464.631389,1.0,0,0
21,No,No,228.952550,50500.182198,1.0,0,0
22,No,No,954.261793,32457.509075,1.0,0,0
23,No,No,1055.956605,51317.883082,1.0,0,0
24,No,No,641.984389,30466.103257,1.0,0,0
25,No,No,773.211725,34353.314305,1.0,0,0
26,No,No,855.008523,25211.332161,1.0,0,0
27,No,No,642.999739,41473.511801,1.0,0,0
28,No,No,1454.863272,32189.094952,1.0,0,0
29,No,No,615.704277,39376.394619,1.0,0,0
30,No,Yes,1119.569353,16556.070205,1.0,0,1
...,...,...,...,...,...,...,...
9971,No,Yes,1294.500408,25687.326050,1.0,0,1
9972,No,Yes,180.620128,20975.560495,1.0,0,1
9973,No,No,755.432801,14455.865365,1.0,0,0
9974,No,No,876.119027,37668.366788,1.0,0,0
9975,No,Yes,933.332025,26051.398320,1.0,0,1
9976,No,No,908.315934,21287.942487,1.0,0,0
9977,No,No,218.417559,25401.133121,1.0,0,0
9978,No,Yes,915.439827,16624.339111,1.0,0,1
9979,Yes,No,2202.462395,47287.257108,1.0,1,0
9980,No,No,173.249172,30697.245062,1.0,0,0
9981,No,Yes,770.015741,13684.789952,1.0,0,1
9982,No,No,739.418018,40656.951448,1.0,0,0
9983,No,No,623.526119,59441.309981,1.0,0,0
9984,No,No,506.625454,49861.003411,1.0,0,0
9985,No,No,875.241640,52861.744197,1.0,0,0
9986,No,No,842.949429,39957.127855,1.0,0,0
9987,No,Yes,401.332674,15332.017833,1.0,0,1
9988,No,No,1092.906583,45479.466985,1.0,0,0
9989,No,No,0.000000,41740.686597,1.0,0,0
9990,No,Yes,999.281112,20013.350644,1.0,0,1
9991,No,No,372.379239,25374.899085,1.0,0,0
9992,No,No,658.799558,54802.078221,1.0,0,0
9993,No,No,1111.647317,45490.682463,1.0,0,0
9994,No,No,938.836241,56633.448744,1.0,0,0
9995,No,Yes,172.412987,14955.941689,1.0,0,1
9996,No,No,711.555020,52992.378914,1.0,0,0
9997,No,No,757.962918,19660.721768,1.0,0,0
9998,No,No,845.411989,58636.156984,1.0,0,0
9999,No,No,1569.009053,36669.112365,1.0,0,0
10000,No,Yes,200.922183,16862.952321,1.0,0,1

In [5]:
# default ~ balance
cols_to_keep = [ 'balance','intercept']
logit  = sm.Logit(df['default_num'], df[cols_to_keep])
result = logit.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.079823
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            default_num   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9998
Method:                           MLE   Df Model:                            1
Date:                Mon, 05 Nov 2018   Pseudo R-squ.:                  0.4534
Time:                        14:47:22   Log-Likelihood:                -798.23
converged:                       True   LL-Null:                       -1460.3
                                        LLR p-value:                6.233e-290
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
balance        0.0055      0.000     24.952      0.000       0.005       0.006
intercept    -10.6513      0.361    -29.491      0.000     -11.359      -9.943
==============================================================================

Possibly complete quasi-separation: A fraction 0.13 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [6]:
# default ~ balance
cols_to_keep = ['student_num','intercept']
logit  = sm.Logit(df['default_num'], df[cols_to_keep])
result = logit.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.145434
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            default_num   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9998
Method:                           MLE   Df Model:                            1
Date:                Mon, 05 Nov 2018   Pseudo R-squ.:                0.004097
Time:                        14:47:32   Log-Likelihood:                -1454.3
converged:                       True   LL-Null:                       -1460.3
                                        LLR p-value:                 0.0005416
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
student_num     0.4049      0.115      3.520      0.000       0.179       0.630
intercept      -3.5041      0.071    -49.554      0.000      -3.643      -3.366
===============================================================================
"""

In [7]:
# default ~ balance
cols_to_keep = ['balance','income','student_num','intercept']
logit  = sm.Logit(df['default_num'], df[cols_to_keep])
result = logit.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.078577
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            default_num   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9996
Method:                           MLE   Df Model:                            3
Date:                Mon, 05 Nov 2018   Pseudo R-squ.:                  0.4619
Time:                        14:47:33   Log-Likelihood:                -785.77
converged:                       True   LL-Null:                       -1460.3
                                        LLR p-value:                3.257e-292
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
balance         0.0057      0.000     24.737      0.000       0.005       0.006
income       3.033e-06    8.2e-06      0.370      0.712    -1.3e-05    1.91e-05
student_num    -0.6468      0.236     -2.738      0.006      -1.110      -0.184
intercept     -10.8690      0.492    -22.079      0.000     -11.834      -9.904
===============================================================================

Possibly complete quasi-separation: A fraction 0.15 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""